.AddAppointment {
    min-height: 100vh;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    h1 {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        font-size: 50px;
        animation: fadeUp 1s forwards;
        filter: drop-shadow(0 3px 3px rgba(41, 41, 158, 0.3));
        span{
            font-size: 20px;
            font-weight: 100;
        }
    }
    .add-bottom {
        animation: fadeFromDown 1s forwards;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        align-items: center;
        img {
            max-width: 100%;
            max-height: 200px;
            width: fit-content;
            height: auto;
            margin-bottom: -20px;
            animation: fadeFromDown 1s 0.3s forwards;
            z-index: -1;
            opacity: 0;
            transform: translateY(100%);
        }

        .add-card {
            background-color: white;
            color: black;
            padding: 20px 0 130px 0;
            max-width: 100%;
            width: 400px;
            border-radius: 40px 40px 0 0;
            box-shadow: (0 -7px 50px rgba(41, 41, 158, 0.1));
            animation: fadeFromDown 1s forwards;
            align-items: center;
            .calendar {
                margin: 10px auto 20px;
                max-width: 100%;
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                input {
                    margin-top: 10px;
                    max-width: 100%;
                    box-shadow: rgba(109, 141, 173, 0.3) 0px 5px 7px;

                }
            }

            .time-slots {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                flex-wrap: wrap;

                button {
                    width: 140px;
                    border-radius: 30px;
                    border: none;
                    background-color: white;
                    padding: 10px 30px;
                    transition: 0.4s;
                    box-shadow: rgba(109, 141, 173, 0.3) 0px 5px 7px;
                    &:hover{
                        scale: 0.9;
                        box-shadow: rgba(109, 141, 173, 0.4) 0px 5px 15px;
                    }
                }
            }
        }
    }
}